.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pay-item{
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;
}

.pay-item__date{
  display: flex;
  align-items: flex-end;
}

.pay-item__saldo{
  color: green;
  font-size: 30px;
  text-align: right;
}

.pay-item__day{
  font-size: 30px;
  font-weight: 500;
  color: #333;
  line-height: 1em;
}

.pay-item__month{
  font-size: 15px;
  color: #555;
  line-height: 1em;
}

.pay-item__year{
  font-size: 15px;
  color: #777;
  font-weight: 500;
  line-height: 1em;
}

.pay-item__positive{
  color: green;
  font-size: 20px;
  text-align: right;
}

.pay-item__negative{
  color: red;
  font-size: 20px;
  text-align: right;
}